parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: whitepowder
    database_user: dev_tavros
    database_password: 7L2HC2NFMJ
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: info@whitetavros.com
    mailer_password: WhitePowder14
    locale: es
    secret: ThisTokenIsNotSoSecretChangeIt
