{% extends "TavrosWebBundle::layout.html.twig" %}

{%block content %}

    <div class="container">

        <form class="form-signin" role="form" action="{{ path('tavros_web_login_check') }}" method="POST">
            <h2 class="form-signin-heading">Panel de Administración</h2>
            <input name="username" type="text" 
                   class="form-control" placeholder="Nombre de usuario" required="" autofocus="">
            <input name="password" type="password" 
                   class="form-control" placeholder="Contraseña" required="">
            <input name="origin" type="hidden" value="web">           
{#            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>#}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->

{%endblock%}