{% extends "TavrosWebBundle::layout.html.twig" %}

{% block addHeadJs %}
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDdetfv_9vJ-f9lAE0Fv5E6pmajk-ah5dY&sensor=true">
    </script>

{% endblock %}


{% block main_content %}
    <div class="center-page container-fluid full-height">
        <div class="row full-height">
            <div class="col-xs-12 col-md-8 full-height">
                
                <div id="center-map" class="full-height"></div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div id="alert-danger" {#class="alert alert-danger alert-dismissible hidden-xs hidden-sm hidden-md hidden-lg" #}role="alert">
                   {# <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
{#                    <p></p>#}
                </div>
                <div id="alert-success" role="alert"> </div>
                <div id="alert-help" class="alert alert-info" role="alert">
                    Ningun destinatario seleccionado. Haga click sobre él en el mapa, o presione seleccionar todos.
                </div>
                <div id="counter" class="alert alert-info">Cantidad de esquiadores actualmente en el centro: <span class="badge">0</span></div>
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Seleccionados
                        <button id="broadcast-btn" class="btn-xs btn badge pull-right" onclick="prepareBroadcast();">Seleccionar Todos</button>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre de usuario</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody id="GCM-list">

                        </tbody>
                    </table>
                </div>

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Alerta</div>
                    <div class="panel-body">
                        <div class="input-group col-xs-12">
                            <select id="notification" class="form-control">
                                <option value="X">Personalizado</option>
                            </select>
                        </div>
                        <div class="input-group col-xs-12">
                            <textarea id="alert-message" class="form-control"></textarea>
                        </div>

                    </div>
                </div>

                <button id="btn-send-alert" data-loading-text="Enviando..." class="btn-danger btn btn-lg col-xs-12" disabled >Enviar notificación</button>

            </div>
        </div>
    </div>
    <label id="x_coordinate" hidden="true">{{ coordinate_x }}</label>
    <label id="y_coordinate" hidden="true">{{ coordinate_y }}</label>

{#    <a id="send_message" href="{{path('tavros_send_gcm')}}">Send GCM to Android device</a>#}
{% endblock %}

{% block addJs %}
    <script src="{{asset('bundles/tavrosweb/js/center.js')}}" type="text/javascript"></script>
{% endblock %}