{% extends "TavrosWebBundle::layout.html.twig" %}

{%block main_content %}


    <div class="container-fluid">

        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('tavros_administrator_center')}}" class="tilt">
                    <div class="alert alert-danger">
                        <h4>Mi Centro</h4>
                        <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur er.Best check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur er.</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="{{path('generalinformation_list')}}" class="tilt">
                    <div class="alert alert-success">
                        <h4>Información General</h4>
                        <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur erBest check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur er..</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <a href="#" class="tilt">
                    <div class="alert alert-info">
                        <h4>Mensajes</h4>
                        <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur erBest check yo self, you're not looking too good. Nulla vitae elit libero, 
                            a pharetra augue. Praesent commodo cursus magna,
                            vel scelerisque nisl consectetur er..</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            &nbsp;
        </div>


    </div> <!-- /container -->

{%endblock%}