.full-height{
    height: 100%;
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tilt:hover .alert-warning{
    background-color: #b67102;
}

.tilt:hover .alert-danger{
    background-color: #d32a0e;
}

.tilt:hover .alert-success{
    background-color: #358753;
}

.tilt:hover .alert-info{
    background-color: #31b0d5;
}

.tilt:hover{
    text-decoration: none !important;
}

.team-image{
    width: 130px;
    height: 150px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.team.pager h2{
    color: white;
}
.alert-sonata_flash_success{
    background-color: #43ac6a;
    border-color: #3c9a5f;
    color: #ffffff;
}
.alert-purple{
    background-color: #9743AC;
    border-color: #9743AC;
}

/*CENTER PAGE*/
#alert-message{
    resize: vertical;
}
/*REGISTER USER*/
.register input{
    text-align: right;
}


