<div class="row">
    &nbsp;
</div>

<div class="row">
    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
        &nbsp;
    </div>
    <div class="register well col-lg-4 col-md-6 col-sm-12 col-xs-12">

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}

            <div>
                <label for="role" class="required">Rol</label>
                <select class="form-control col-sm-12" name="role">
                    <option value="ROLE_RESCU">Rescatista</option>
                    <option value="ROLE_ADMIN">Administrador</option>
                </select>
                
            <div class="col-sm-12">
                &nbsp;
            </div>
            <div>
                <input class="btn pull-right btn-success" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>

    </div>
    <div class="col-lg-4 col-md-3 hidden-sm hidden-xs">
        &nbsp;
    </div>
</div>